body {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	color: #000000; 
}

#character-container { 
	font: bold 72px Sans-Serif; 
	float: left; 
	justify-content: center;
	align-items: center; 
	padding: 5%;
	color: #000000;
	line-height: 1;
}

#colour-name-block { 
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 15%;
	float: left; 
	justify-content: center;
	align-items: center; 
	text-align: center;
	color: #000000;
}

span#colour-name	{ 
	font: bold 72px Sans-Serif; 
}

span#colour-code	{ 
	font: bold 18px Sans-Serif; 
}

#user-time {
	font: bold 72px Sans-Serif; 
	float: right; 
	justify-content: center;
	align-items: center; 
	padding: 5%;
	color: #000000;
	line-height: 1;
}
